%h1=@user.name
%ul.thumbnails
  %li
    .thumbnail
      = image_tag @user.avatar_url

.row
  %h3.span1="HP"
  .value.span6
    %b.span1="#{@user.hp} / #{max_exp(@user.hp)}"
    .span2= render :partial => 'bar', :locals => { :value_type => :hp, :value => @user.hp }
    %b.span1="Level #{level(@user.hp)}"
    .clearfix


.row
  %h3.span1="SP"
  .value.span6
    %b.span1="#{@user.sp} / #{max_exp(@user.sp)}"
    .span2= render :partial => 'bar', :locals => { :value => @user.sp }
    %b.span1="Level #{level(@user.sp)}"
    .clearfix
